*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: blueviolet;
}

h1{
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    color: white;
    text-shadow: 0 0 3px;
}

.calBody{
    max-width: 350px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.848);
    box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 10px;
}

.input{
    padding: 20px 0px;
}

input{
    display: block;
    margin: auto auto 70px;
    height: 100px;
    width: 310px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius:5px;
    font-size: 3rem;
    box-shadow: 0 0 3px rgb(255, 255, 255);
    padding: 0 5px;
}

input:focus{
    outline: none;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 15px 0;
}

.num{
    background-color: rgb(238, 235, 235);
    width: 55px;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 50px;
    font-size: 1.7rem;
    border: 1px solid rgb(59, 59, 59);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7);
}

.num:active{
    background-color: rgb(202, 200, 200);
}